<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= user.username %> Dashboard's</title>
</head>

<body>
  <div>Hello, <%= user.username %></div>
  <div>You have <%= user.Folders.length %> folders.</div>
  <% user.Folders.forEach((folder) => { %>
  <div>
    <div><%= folder.name %></div>
    <% folder.Files.forEach((file) => { %>
    <div><%= file.url %></div>
    <% }) %>
  </div>
  <% }) %>
</body>

</html>