<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= user.username %> Dashboard's</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/folder.css">
  <link rel="stylesheet" href="/styles/user.css">
  <link rel="icon" type="image/png" href="/assets/icons/logo.png">
</head>

<body>
  <%- include('navbar') %>
  <header>
    <div>Hello, <%= user.username %></div>
    <div class="fnumber newlink">
      <div><%= user.Folders.length > 1 ? `${user.Folders.length} folders` : `${user.Folders.length} folder` %></div>
      <a class="plus-link" href="/new">+</a>
    </div>
  </header>
  <div class="folders">
    <% user.Folders.forEach((folder) => { %>
    <section class="folder">
      <div class="folder-info">
        <div><%= folder.name %></div>
        <form action="/update" method="POST">
          <input name="id" type="hidden" value="<%= folder.id %>">
          <input name="action" type="hidden" value="ask">
          <button>Update</button>
        </form>
        <form action="/delete" method="POST">
          <input name="id" type="hidden" value="<%= folder.id %>">
          <button>Delete</button>
        </form>
        <% if (folder.ShareLink && folder.ShareLink.expire > new Date()) { %>
        <a class="share share-icon" href="/share/<%= folder.ShareLink.link %>"><img src="/assets/icons/share.svg" alt="share"></a>
        <% } else { %>
        <form class="share share-form" action="/share" method="POST">
          <label for="exDate">Choose a duration to share the file</label>
          <select name="exDate" id="exDate">
            <option value="hours">24h</option>
            <option value="days">10 days</option>
            <option value="month">1 month</option>
          </select>
          <input name="folder" type="hidden" value="<%= folder.id %>">
          <button>Create Link</button>
        </form>
        <% } %>
      </div>
      <div class="folder-content">
        <% folder.Files.forEach((file) => { %>
        <div class="user-file">
          <a href="/user/<%= folder.id %>/<%= file.id %>">
            <img src="<%= file.url %>" alt="<%= file.name %>">
            <div class="user-fname"><%= file.name %></div>
          </a>
        </div>
      </div>
      <% }) %>
    </section>
    <% }) %>
  </div>
</body>

</html>