<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= user.username %> Dashboard's</title>
</head>

<body>
  <div>Hello, <%= user.username %></div>
  <div>You have <%= user.Folders.length %> folders.</div>
  <% user.Folders.forEach((folder) => { %>
  <div>
    <div><%= folder.name %></div>
    <form action="/update" method="POST">
      <input name="id" type="hidden" value="<%= folder.id %>">
      <input name="action" type="hidden" value="ask">
      <button>Update</button>
    </form>
    <form action="/delete" method="POST">
      <input name="id" type="hidden" value="folder.id">
      <button>Delete</button>
    </form>
    <% folder.Files.forEach((file) => { %>
    <div><%= file.url %></div>
    <% }) %>
  </div>
  <% }) %>
  <a href="/new">Add new folders/files</a>
</body>

</html>